
*{
  box-sizing:border-box;
}
body{
  margin:0;
  padding:0;
}
h1{color:turquoise;
text-align:center ;
font-size:3em;
margin-bottom:60px;
}
p{
  text-align:left ;
  color:black;
  text-size-adjust:25% ;
  font-weight:bold;
  
 
}
#p1{width:90%;
  margin-left:auto;
  margin-right:auto;
  padding: 30px 10px 19px 10px;
  
}
#p2{
  
  width:80%;
  margin-left:auto;
  margin-right:auto;
  padding:30px 10px 0px 10px;    
  
}
  

#p3{
 
  width:80%;
  margin-left:auto;
  margin-right:auto;
  padding: 30px 10px 0px 10px;    
  
}
 



section {
  width:150px;
  background-color: aqua;
  margin-top:20px;
  padding:20px;
  
}

#S1{ 
  margin-left:20px;
  margin-right:10px;
 
}
#S2{
 
  margin-left:40px;
  margin-right:10px;

 

}
#S3{
  margin-left:20px;
  margin-right:0px;

}

#chicken{
  float: right;
  border: 1px solid black;
  background-color: lightcoral;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align:left;
  font-size: 1.5em;
  padding:5px;
  width:110px;
  height:40px;
  
 


}
#beef{
  float: right;
  border: 1px solid black;
  background-color: red;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align:center;
  font-size: 1.5em;
  padding:5px 5px 5px 5px;
  width:110px;
  height:40px;
  
}

 #sushi{ float: right;
  border: 1px solid black;
  background-color: yellow;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align:center;
  font-size: 1.5em;
  padding:5px 5px 5px 5px;
  width:110px;
  height:40px;

 
}
.row {
  width: 100%;
}
@media (min-width: 992px) {
  .big1,.big2 ,.big3 {
    float: left;
    border: 1px solid black;
  }
  .big1 {
    width:30%;
  }
  .big2 {
   width:30%;
 }
  .big3 {
  width:30%;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .small1,.small2, .small3 {
    float: left;
    margin-right:auto;
    margin-left:auto;
    margin-bottom:20px;
    margin-top:20px;
    border: 1px solid black;
    box-sizing: border-box;
  }
  .small1{
    width:40%;
    
  }
  .small2{
    width:40%;
   
  }
  .small3{
    width:85%;
    
  }
  
}
@media (max-width: 767px) {
  .smaller1,.smaller2 , .smaller3
  {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px;
    margin-top:20px;
    box-sizing: border-box;
   
    border: 1px solid black;
 
  }
  .smaller1 {
    width:80%;
  }
  
  .smaller2 {
    width:80%;
  }
  
  .smaller3 {
    width:80%
  }
  
  }
  @media (max-width: 767px){
    #S2{
      margin-left:20px;
    }
  }
  @media (min-width: 768px) and (max-width: 991px){
    #p1,#p2,#p3{
      padding: 0px;
      width:80%;
      height:50%;
      margin-top:10px;
      margin-bottom:10px;

    }
  }
 
 